<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="{{title}}">
<meta name="description" content="{{description}}" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- build:css common.min.css -->
<link rel="stylesheet" href="css/main.css">
<!-- endbuild -->