<!doctype html>
<html lang="en">

<head>
    {{> head }}

    <!-- build:css /home-page.min.css -->
    <link rel="stylesheet" href="css/home.css">
    <!-- endbuild -->
</head>

<body>
    {{> header }}

    <div class="p-5 m-4 bg-light rounded-3">
        <div class="container py-5">
            <h1 class="display-5 fw-bold">Home page</h1>
            <p class="col-md-8 fs-4">Place your home page content on this page</p>
            <a class="btn btn-primary btn-lg" href="https://github.com/sanjaynishad/static-html-generator#readme">
                Go to documentation
            </a>
        </div>
    </div>

    {{> footer }}

    <!-- build:js home-page.min.js-->
    <script src="js/home.js"></script>
    <!-- endbuild -->
</body>

</html>